.box {
    background-color: #CCC;
    height: 190px;
    padding: 10px;
    text-align: center;
    
}
.boxTwo {
    background-color: #AAA;
    height: 190px;
    padding: 10px;
    text-align: center;
    
}
.water {
    background-color:#3A85FF;
}
/*.box :nth-child(odd) {
    background-color: #AAA;
}
.box :nth-child(even) {
    background-color: #CCC;
}
*/