.box {
    background-color: #CCC;
    height: 190px;
    padding: 10px;
    text-align: center;
}
.water {
    background-color: #3A85FF ;
    height: 190px;
    padding: 10px;
    text-align: center;
}